h1 {
  text-align: center;
  padding: 10px;
  font-size: 50px;
  font-family: "Amatic SC", sans-serif;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
}

.topnav button {
  float: right;
  color: white;
  background-color: #333;
  text-align: center;
  padding: 55px 15px;
  height: 100%;
  text-decoration: none;
  font-size: 30px;
  font-family: "Amatic SC", sans-serif;
  box-sizing: border-box;
  transition: 0.3s;
}

.topnav button:hover {
  cursor: pointer;
  background-color: black;
  color: #f96d00;
}

body {
  margin: 0;
  background-image: url("https://img3.stockfresh.com/files/s/sanjanovakovic/m/57/3046837_stock-photo-vector-seamless-pattern-background-with-hand-drawn-food-drink-and-restaurant-menu-elements-on-black.jpg");
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  overflow: hidden;
}
