<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Amatic+SC"
    />
  </head>
  <body>
    <div class="big">
      <nav>
        <div class="container">
          <h1>Menu</h1>
          <button class="order" (click)="toggleOrderSummary()">
            Mostra Riepilogo Ordini
          </button>

          <button class="order" (click)="openOrderForm()">
            Effettua Ordine
          </button>
          <button class="logout" (click)="logoutAndGoBack()"></button>
        </div>
      </nav>
      <div *ngIf="showOrderForm" class="order-form">
        <form>
          <div class="label-container">
            <label for="dishName">Nome del Piatto:</label>
            <select
              id="dishName"
              name="dishName"
              [(ngModel)]="selectedMenuItem"
              (change)="addToOrder(selectedMenuItem, quantita)"
            >
              <option *ngFor="let item of allMenuItems" [ngValue]="item">
                {{ item.nome }}
              </option>
            </select>
          </div>
          <div>
            <label for="quantity">Quantità:</label>
            <input
              type="number"
              id="quantity"
              name="quantity"
              [(ngModel)]="quantita"
              min="1"
            />
          </div>
          <div>
            <label for="totalPrice">Prezzo Totale:</label>
            <input
              type="text"
              id="totalPrice"
              name="totalPrice"
              [value]="selectedMenuItem?.prezzo * quantita"
              disabled
            />
          </div>
          <button type="submit" (click)="submitOrder()">Invia Ordine</button>
          <button type="button" (click)="closeOrderForm()">Annulla</button>
        </form>
      </div>
      <div *ngIf="showOrderSummary" class="order-summary">
        <h2>Riepilogo Ordini</h2>
        <ul>
          <li *ngFor="let order of orders">
            <div class="order-details">
              <span>ID: {{ order.id }}</span
              ><br />
              <ng-container *ngFor="let nomePiatto of order.nomePiatti">
                <span
                  >{{ nomePiatto }} (Quantità:
                  {{ getQuantityForItem(nomePiatto) }})</span
                ><br />
              </ng-container>
              <span>Prezzo Totale: {{ order.prezzoTotale }}€</span>
            </div>
          </li>
        </ul>
        <button (click)="resetOrderSummary()">Resetta Riepilogo Ordini</button>
      </div>
      <div class="piatti">
        <h2>Prezzi</h2>
        <h1>Antipasti</h1>
        <ul>
          <ng-container *ngFor="let item of allMenuItems">
            <li class="menu-item" *ngIf="item.categoria === 'antipasto'">
              <span class="menu-item-nome">{{ item.nome }}:</span>
              <span class="menu-item-prezzo">{{ item.prezzo }} &euro;</span>
              <span class="menu-item-ingredienti"
                ><br />
                ({{ item.ingredienti.join(", ") }})</span
              >
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="divider"></div>

      <div class="piatti">
        <h2>Prezzi</h2>
        <h1>Primi</h1>
        <ul>
          <ng-container *ngFor="let item of allMenuItems">
            <li class="menu-item" *ngIf="item.categoria === 'primo'">
              <span class="menu-item-nome">{{ item.nome }}:</span>
              <span class="menu-item-prezzo">{{ item.prezzo }} &euro;</span>
              <span class="menu-item-ingredienti"
                ><br />
                ({{ item.ingredienti.join(", ") }})</span
              >
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="divider"></div>

      <div class="piatti">
        <h2>Prezzi</h2>
        <h1>Secondi</h1>
        <ul>
          <ng-container *ngFor="let item of allMenuItems">
            <li class="menu-item" *ngIf="item.categoria === 'secondo'">
              <span class="menu-item-nome">{{ item.nome }}:</span>
              <span class="menu-item-prezzo">{{ item.prezzo }} &euro;</span>
              <span class="menu-item-ingredienti"
                ><br />
                ({{ item.ingredienti.join(", ") }})</span
              >
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="divider"></div>

      <div class="piatti">
        <h2>Prezzi</h2>
        <h1>Bevande</h1>
        <ul>
          <ng-container *ngFor="let item of allMenuItems">
            <li class="menu-item" *ngIf="item.categoria === 'bevande'">
              <span class="menu-item-nome">{{ item.nome }}</span>
              <span class="menu-item-prezzo">{{ item.prezzo }} &euro;</span>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="divider"></div>
    </div>
  </body>
</html>
