<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout Button</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Amatic+SC"
    />
  </head>
  <body>
    <div class="big">
      <nav>
        <div class="container">
          <h1>Consulta il menu</h1>
          <button (click)="logoutAndGoBack()"></button>
        </div>
      </nav>
      <h2>Prezzi</h2>
      <div class="antipasti">
        <h1>Antipasti</h1>
      </div>
      <div class="divider"></div>
      <div class="piatti">
        <h1>Primi</h1>
      </div>
      <div class="divider"></div>
      <div class="piatti">
        <h1>Secondi</h1>
      </div>
      <div class="divider"></div>
      <div class="piatti">
        <h1>Bevande</h1>
      </div>
    </div>
  </body>
</html>
