html {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  background-image: url("https://img3.stockfresh.com/files/s/sanjanovakovic/m/57/3046837_stock-photo-vector-seamless-pattern-background-with-hand-drawn-food-drink-and-restaurant-menu-elements-on-black.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

nav {
  padding: 10px;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 50px;
  font-family: "Amatic SC", sans-serif;
  color: #f96d00;
  margin: 0;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border: 2px solid #f96d00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logout {
  cursor: pointer;
  border: 2px solid #333;
  background-size: cover;
  border-radius: 20px;
  transition: 0.3s;
  width: 90px;
  height: 90px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("https://cdn2.iconfinder.com/data/icons/perfect-pixel-game-ui-set/256/quit_exit-512.png");
}

.logout:hover {
  background-color: #f96d00;
}

p {
  color: white;
}

.piatti {
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.big {
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: #f96d00;
}

h2 {
  font-size: 50px;
  font-family: "Amatic SC", sans-serif;
  color: #f96d00;
  margin: 0;
  padding: 10px 20px;
  float: right;
}

.antipasti {
  margin-bottom: 50px;
  padding: 10px;
  margin-top: 60px;
}
.menu-item {
  font-size: 40px;
  font-family: "Amatic SC", sans-serif;
  color: #f96d00;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

.menu-item span {
  font-weight: bold;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.menu-item-nome {
  margin-right: 10px;
}

.menu-item-prezzo {
  float: right;
}
.menu-item-ingredienti {
  text-align: center;
  margin-left: 30px;
}
.order {
  cursor: pointer;
  border: 2px solid #333;
  background-size: cover;
  border-radius: 5px;
  transition: 0.3s;
  margin-right: 10px;
  color: #f96d00;
  font-size: 40px;
  font-family: "Amatic SC", sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
}

.order:hover {
  background-color: #f96d00;
  color: black;
}
.order-form {
  max-width: 300px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="button"] {
  background-color: #ccc;
  color: #000;
  border: none;
}

button[type="button"]:hover {
  background-color: #bfbfbf;
}
.label-container {
  width: 100px;
}
