<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Menu</title>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Amatic+SC"
  />
</head>
<body>
  <div class="topnav">
    <p>Registrati</p>
  </div>

  <div class="registration-form">
    <form [formGroup]="registrationForm">
      <input type="text" placeholder="*Username" formControlName="userName" />
      <div
        *ngIf="
          registrationForm.get('userName').errors &&
          registrationForm.get('userName').errors['required'] &&
          registrationForm.get('userName').touched
        "
      >
        <div class="error-message">Inserisci un nome utente</div>
      </div>

      <input type="email" placeholder="*Email" formControlName="email" />
      <div
        *ngIf="registrationForm.get('email').errors?.['required'] && registrationForm.get('email').touched"
      >
        <div class="error-message">Inserisci l'email</div>
      </div>
      <div
        *ngIf="registrationForm.get('email').errors?.['email'] && registrationForm.get('email').touched"
      >
        <div class="error-message">L'email non è valida</div>
      </div>

      <input
        type="password"
        placeholder="*Password"
        formControlName="password"
      />
      <div
        *ngIf="registrationForm.get('password').errors?.['required'] && registrationForm.get('password').touched"
      >
        <div class="error-message">Inserisci una password</div>
      </div>
      <div
        *ngIf="registrationForm.get('password').errors?.['minlength'] && registrationForm.get('password').touched"
      >
        <div class="error-message">
          La password deve essere lunga almeno 6 caratteri
        </div>
      </div>

      <button type="submit" (click)="registerAndNavigate()">Registrati</button>
    </form>

    <button type="button" (click)="navigateToAccess()">
      Hai già un account? Clicca per accedere con le tue credenziali
    </button>
  </div>
</body>
